<div class="container-fluid border-container">
  <div class="row top-nav">
    <div class="col-sm-hidden col-md-4 top-nav-links">
        <span class="logo">
          <span style="color:#66B9BF">Medi</span> -
          <span style="color:#E37222;">Care</span>
          <i class="fa fa-stethoscope" aria-hidden="true"></i>
        </span>
      </div>
    <div class="col-md-8 top-nav-links">
        <div class="col-sm-2 li-text"><i class="fa fa-phone nav-icon-l" aria-hidden="true"></i> 962004995</div>
        <div class="col-sm-2 li-text"><i class="fa fa-volume-control-phone nav-icon-l" aria-hidden="true"></i> Requst A Call</div>
        <div class="col-sm-3 li-text"><i class="fa fa-calendar nav-icon-l" aria-hidden="true"></i> Book An Appointment</div>
        <div class="col-sm-3 li-text"><i class="fa fa-flask nav-icon-l" aria-hidden="true"> </i> Home Sample collection</div>
        <div class="col-sm-2 li-text"><i class="fa fa-map-marker nav-icon-l" aria-hidden="true"></i> Clinic Locator</div>
    </div>
  </div>
</div>


<nav class="container-fluid navbar navbar-light">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><i class="fa fa-user nav-icon-l" aria-hidden="true"></i> Sign Up</a></li>
      <li><a href="#"><i class="fa fa-sign-in nav-icon-l" aria-hidden="true"></i> Login</a></li>
    </ul>
  </div>  
</nav>
