<div class="dashboard-container">
  <div class="flex-background">
    <div class="container-fluid">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <app-login></app-login>
      </div>
    </div>
  </div><!-- flex-background -->
  <div class="dashboard-items">
    <div class="container">
      <div class="row">
        <div class="col-sm-2" *ngFor="let serviceItem of services">
          <div class="item-box">
            <div class="icon-tile">
                <i [ngClass]='serviceItem.icon'></i>
            </div>            
            <div class="icon-title">{{serviceItem.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>